hydra-core>=1.1
hydra-colorlog>=1.1
numpy>=1.19
pandas>=1
scikit-learn>=0.24
humanfriendly>=9
shortuuid>=1.0
dataclasses>=0.6
types-dataclasses>=0.6
PyYAML>=6
types-PyYAML>=6
SQLAlchemy>=1
wandb>=0.12
-e git+https://github.com/dunnkers/FeatBoost.git@b81059ea4c5ac49fec075e823491104fae3d12b7#egg=featboost
-e git+https://github.com/dunnkers/infinite-selection.git@6c9db1d5fe1b12bc34eb2af5893a4f3ca385aaff#egg=infinite_selection
-e git+https://github.com/dunnkers/stability-selection.git@baf54e7526bbce57d80871fcd93cdfdd67972a43#egg=stability_selection
l2x-synthetic>=2
openml>=0.12
Boruta>=0.3
scipy>=1.5
skfeature-chappers>=1.0
skrebate>=0.62
xgboost>=1
pytest-dependency