# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install GCC5 (for XGBoost) on MacOS
        if: ${{ matrix.os == 'macOS-latest' }}
        run: brew install gcc@5
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy pytest pytest-cov black
          pip install -r requirements.txt
      - name: Lint with mypy
        run: |
          mypy fseval tests --ignore-missing-imports
      - name: Check formatting with black
        run: |
          black fseval tests --check
      - name: Test with pytest
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
        run: |
          pytest tests --cov=./ --cov-report=xml
      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        if: matrix.python-version == '3.9'
